<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PokeSearchApp</title>
    <link rel="icon" href = "/img/alakazam65.ico" type = "image/x-icon" >

</head>
<body>
    <header>
        <link href="css/reset.css" type="text/css" rel="stylesheet" />
        <link href="css/base.css" type="text/css" rel="stylesheet" />
        <link href="css/layout.css" type="text/css" rel="stylesheet" />
        <link href="css/module.css" type="text/css" rel="stylesheet" />
        <!-- <link rel="shortcut icon" href="img/alakazam65.ico" type="image/x-icon"> -->
        <link rel="shortcut icon" href="img/alakazam65.ico" type="image/x-icon">
        <%- include('navbar.ejs') %>
    </header>