<nav>
    <li class = 'navbar'>
        
            <li id="search"><a href = '/'>Search</a></div>
            <li id="collection"><a  href = '/favorites'>Stored Pokemon</a></li>
            <li id="login"><a href = '/login'>Login</a></li>\
            <li id="about"><a href = '/aboutUs'>About Us</a></li>
            </li>
</nav>