<nav>
    <div class = 'navbar'>
        
            <div id="search"><a href = '/'>Search</a></div>
            <div id="collection"><a  href = '/favorites'>Stored Pokemon</a></div>
    </div>
</nav>