<%- include('header.ejs') %>
<div class = "column"></div>
    <h2>Please select a pokemon type you are interested in!</h2>
    <form id="searchForm" action = "/search-query" method = "POST">
        <input type = "text" name="pokemonTyping" value="" required>
        <input type = "hidden" name = "_method" value = "post">
        <!-- <button>Submit</button> -->
    </form>
    <div id = "searchtypes">
        <p>Try:</p>
        <div id="typediv">
             <span class = "type" id = "normal">Normal</span>, 
             <span class = "type" id = "fighting">Fighting </span>, 
             <span class = "type" id="fire">Fire</span>, 
             <span class = "type" id="water">Water</span>, 
             <span class = "type" id="flying">Flying</span> , 
             <span class = "type" id="grass">Grass</span>, 
             <span class = "type" id="poison">Poison</span>, 
             <span class = "type" id="electric">Electric</span> ,
             <span class = "type" id="ground">Ground</span>, 
             <span class = "type" id="psychic">Psychic</span>, 
             <span class = "type" id="rock">Rock</span>, 
             <span class = "type" id="ice">Ice</span>, 
             <span class = "type" id="bug">Bug</span>, 
             <span class = "type" id="dragon">Dragon</span>, 
             <span class = "type" id="ghost">Ghost</span>, 
             <span class = "type" id="dark">Dark</span>, 
             <span class = "type" id="steel">Steel</span>, 
             <span class = "type" id="fairy">Fairy</span>
        </div>
    </div>


</body>
</html>