<%- include('./header.ejs') %>
<ul>
    
    <%  for(let i = 0; i<25;i++){ %>
        <ul>
            <li class="results"> <%= TypeResultsPokemon[i].name %>
                <img src = '<%= TypeResultsPokemon[i].spriteApiLink %>'>
                <form action="/favorites" method='POST'> 
                    <input type = "hidden" name="pokemonTyping" value="<%= TypeResultsPokemon[i].name %>" required>
                    <input type = "hidden" name = "_method" value = "post">
                    <button>save</button> </form> 
            </li>
                <% } %>
        </ul>
</ul>
