
<%- include('./partials/header.ejs') %>
    <h1>Hello World!</h1>
    <ul>

      <% for(let i = 0; i<25; i++){ %>
       <li>
           <%= resultPokemon[i].name %>
      </li>
        <!-- <%- include('./partials/search') %> -->
          <% } %>
      </ul>
</body>
</html>