html {
    background: url(https://wallpaperaccess.com/full/24936.jpg) no-repeat top fixed
}

@font-face {
	font-family: Pokemon Solid;
    src: url('../fonts/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: Pokemon Hollow;
    src: url('../fonts/Pokemon\ Hollow.ttf')
}