html {
    background: url(https://wallpaperaccess.com/full/24936.jpg) no-repeat top fixed;
    width:100%;
}

body {
    margin:0px auto;
    width:960px;
    align-content: center;
}
nav{
    width:100%;
}

@font-face {
	font-family: Pokemon Solid;
    src: url('../fonts/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: Pokemon Hollow;
    src: url('../fonts/Pokemon\ Hollow.ttf')
}
nav li{
    width: 100%;
}
