nav li {
    display:inline-block;
    width: 30%;
    padding: 5px;
    margin-right: 30px;
}

#search{
    float:left;
    margin-left:2%;
    color: yellow;
    font-size: 40px;
    font-family: Pokemon Solid;
}

#collection{
    margin-left:76%;
    margin-top: 2%;
    color: yellow;
    font-size: 40px;
    font-family: Pokemon Solid;
}


#about{
    margin-left:76%;
    margin-top: 2%;
    color: yellow;
    font-size: 40px;
    font-family: Pokemon Solid;
}



#login{
    margin-left:76%;
    margin-top: 2%;
    color: yellow;
    font-size: 40px;
    font-family: Pokemon Solid;
}


#searchtypes {
    font-family: Pokemon Hollow;
    text-align: center;
    font-size: 30px;
    color: yellow;
}
form textarea, 
form input { 
    width: 50%;
    height: 5em;
    font-size: 17px;
    font-family: Pokemon Solid;
    color:blue;
    text-align: center;
}

.type {
    display: inline-flex;
}

#typediv {
    border: solid rgb(6, 25, 237) 5px;
    width: 50%;
    height:100px;
    align-content: center;
    text-align: center;
    margin:auto;
    font-family:Pokemon Solid;
    background-color:rgb(142, 142, 147);
}

#normal
{
    color: rgb(225, 210, 191)
}
#fighting{
    color:rgb(220, 61, 26)
}
#fire{
    color:rgb(249, 95, 0)
}
#water{
    color:rgb(0, 121, 242)
}
#flying{
    color:rgb(150, 212, 240)
}
#grass{
    color:rgb(44, 141, 22)
}
#poison{
    color:rgb(103, 11, 133)
}
#electric{
    color:rgb(242, 214, 0)
}
#ground{
    color:rgb(114, 48, 6)
}
#psychic{
    color:rgb(247, 68, 220)
}
#rock{
    color:rgb(101, 70, 44)
}
#ice{
    color:rgb(0, 186, 242)
}
#bug{
    color:rgb(121, 242, 0)
}
#dragon{
    color:rgb(187, 151, 3)
}
#ghost{
    color:rgb(61, 4, 142)
}
#dark{
    color:rgb(1, 0, 14)
}
#steel{
    color:rgb(95, 95, 96)
}
#fairy{
    color:rgb(230, 136, 180)
}