<%- include('../partials/header.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>About Ue</title>
</head>
<body>
<main class="scroll" id="about">
    <p>Team Plasma stand for pokemon liberation, they want to see everypokeon be free, as well as they want to show that anypokemon can be great on its own. were a detitcated hard fought 
        group that stands to protect people and pokemon.
    </p>
    
    <article class="box">
        
        <div><img id="JohnBavendam" src="./public/css/img/john.jpg" alt="About"></div>
        <div><p class="bio">John is a proud Seattle native. He currently is working at Kohl's as an associate and aspires to be a game developer. He has a general associate’s degree and believes that perseverance and determination are key qualities a person needs in order to be successful. You'll probably find John streaming/making videos on his YouTube channel, working, or walking around parks playing Pokémon go, maybe even coding a simple RPG game through whatever means possible.</p></div>
          
    </article> 

</main>
</body>
</html>
