<%- include('../partials/header.ejs') %>
    <h1>welcome to the favorites page</h1>
    <ul>
        <%  for(let i=0; i < resultPokemon.length; i++){ %>
            <li><%= resultPokemon[i].name %></li>
            <% } %>
            <form action="/favorites" method='DELETE'> 
                <input type = "hidden" name="pokemonTyping" value="<%= resultPokemon[i].name %>" required>
                <input type = "hidden" name = "_method" value = "delete">
                <button>delete</button> </form> </li>
    </ul>
</body>
</html>