<%- include('../partials/header.ejs') %>
    <h1>welcome to the favorites page</h1>
    <ul>
        <%  for(let i=0; i < resultPokemon.length; i++){ %>
            <li><%= resultPokemon[i].name %></li>
            <% } %>
    </ul>
</body>
</html>